<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_logo"
        android:label="Информатика ҰБТ"
        android:roundIcon="@mipmap/icon_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".TaqyryptarActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.BackgroundStyle"/>
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.BackgroundStyle" />
        <activity
            android:name=".DostarTabuActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.BackgroundStyle" />
        <activity
            android:name=".ChangePhotoActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.BackgroundStyle" />
        <activity
            android:name=".ChangeActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.BackgroundStyle" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.BackgroundStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.BackgroundStyle" />
        <activity
            android:name=".CallingForCompetitionActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.BackgroundStyle" />
        <activity
            android:name=".DostarActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.BackgroundStyle" />
        <activity
            android:name=".Suraq1"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.BackgroundStyle" />
        <activity
            android:name=".CallingActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.BackgroundStyle" />
        <activity
            android:name=".QuizActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.BackgroundStyle" />
        <activity
            android:name=".WriteActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.BackgroundStyle" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.BackgroundStyle" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.BackgroundStyle" />
        <activity
            android:name=".Splash_screen"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.BackgroundStyle" />
    </application>

</manifest>